# Зависимости
node_modules/
package-lock.json
yarn.lock

# Скомпилированные файлы TypeScript
dist/
build/
*.tsbuildinfo

# Логи
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Переменные окружения
.env

# Кэш и временные файлы
.npm
.DS_Store
.eslintcache
.cache/
.parcel-cache/
.rts2_cache*/
.nyc_output/
coverage/

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
*.sublime-*
.project
.classpath
.c9/
*.launch
.settings/
*.swp
*.swo

# Другое
tmp/
temp/